I am going to use SQL to understand the data

1. Import/Install all required Libraries

In [17]:
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
#!pip install ipython-sql

2. Load the SQL extension and establish a connection with the database

In [18]:
%reload_ext sql
#%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://ntb39069:ngJMw4g2i1JZWoXd@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb?security=SSL

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
'sqlalchemy.cimmutabledict.immutabledict' object does not support item deletion
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

3. Display the names of the unique launch sites in the space mission using SQL

In [19]:
%%sql SELECT DISTINCT LAUNCH_SITE 
FROM SPACEXTBL;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

4. Display 5 records where launch sites begin with the string 'CCA'

In [20]:
%sql SELECT * FROM SPACEXTBL WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

5. Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE CUSTOMER='NASA (CRS)';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

6. Display average payload mass carried by booster version F9 v1.1

In [22]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE BOOSTER_VERSION='F9 v1.1';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

7. List the date when the first successful landing outcome in ground pad was acheived.

In [23]:
%sql SELECT MIN(DATE) FROM SPACEXTBL WHERE LANDING__OUTCOME='Success (ground pad)';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

8. List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [24]:
%%sql SELECT BOOSTER_VERSION FROM SPACEXTBL 
WHERE LANDING__OUTCOME='Success (drone ship)' and PAYLOAD_MASS__KG_ BETWEEN 4000 and 6000;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

9. List the total number of successful and failure mission outcomes

In [25]:
%sql SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) as Count FROM SPACEXTBL GROUP BY MISSION_OUTCOME;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

10. List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [26]:
%sql SELECT DISTINCT(BOOSTER_VERSION),PAYLOAD_MASS__KG_ as Payloadmass  FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

11. List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [27]:
%sql SELECT DATE, BOOSTER_VERSION, LAUNCH_SITE FROM SPACEXTBL WHERE LANDING__OUTCOME LIKE 'Failure%' and DATE LIKE '2015%';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

12. Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [28]:
%%sql SELECT *, RANK() OVER(ORDER BY COUNT DESC) Rank 
FROM (
    SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) as COUNT 
    FROM SPACEXTBL WHERE DATE BETWEEN '2010-06-04' and '2017-03-20' 
    GROUP BY LANDING__OUTCOME
     ) as land_list 
    WHERE LANDING__OUTCOME LIKE 'Failure (drone ship)' or LANDING__OUTCOME LIKE 'Success (ground pad)';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])